<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="WebServer" value="IIS"></add>
	</appSettings>
	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="c#" debug="true">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE"/></compilers>
			<assemblies>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--  CUSTOM ERROR MESSAGES
          Set mode="on" or "remoteonly" to enable custom error messages, "off" to disable. Add
          <error> tags for each of the errors you want to handle.
    -->
		<customErrors mode="RemoteOnly" defaultRedirect="error.aspx">
		</customErrors>
		<xhtmlConformance mode="Legacy"/></system.web>
</configuration>
